
@{
    Layout = null;
}

@using efcrud.Models

@model stdmaster

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateStudent</title>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="d-flex justify-content-center align-items-center">
        <div class="bg-light h-50 w-50 border-black border d-flex justify-content-center flex-column ">
            <h1 class=" min-vh-10 bg-primary text-center"> Update Student</h1><hr />
            <form action="/Home/UpdateStudent" class="text-center" method="post">
                <input type="text" placeholder="enter your name " name="Name" value="@Model.Name" /><br /><br />
                <input type="number" placeholder="enter your age " name="Age" value="@Model.Age"/><br /><br />
                <input type="email" placeholder="example@gmail.com" name="Email"  value="@Model.Email"/><br /><br />
                <input type="text" placeholder="enter your mobile no." name="MobNo" value="@Model.MobNo" /><br /><br />
                <input type="hidden" value="@Model.Id" name="Id" class="btn btn-success"/>
                <input type="submit" value="Update" class="bg-success rounded-2" /><br />
            </form>
        </div>
    </div>
</body>
</html>
